<div id="footer">
	<div>
		<!-- <p>To get in touch, email us at: <a href="mailto:">huang_t&#64tib.cas.cn</a></p> -->
		<p>Copyright &copy; 2017 Tianjin Institute of Industrial Biotechnology, Chinese Academy of Sciences - All Rights Reserved.</p>
		<!-- <img src="/bdc/bdcmean/static/img/tib_logo.gif" usemap="#tibMap">
		<map name="tibMap">
			<area href="http://www.tib.cas.cn/" target="_blank" title="TIB" alt="tib_logo" shape="circ" coords="25,25,25">
		</map>
		<img src="/bdc/bdcmean/static/img/bsd_logo.png" usemap="#bsdMap">
		<map name="bsdMap">
			<area href="http://www.ibiodesign.net/" target="_blank" title="Biological Systems Design" alt="bsd_logo" shape="circ" coords="25,25,25">
		</map> -->
	</div>
</div>