<div id="navTop">
    <ul>
    	<li><a href="/enzymetib/" target="_blank" title="ecoin" style="text-decoration:none;">Enzyme</a></li>
    	<li><a href="/componenttib/" target="_blank" title="component" style="text-decoration:none;">Component</a></li>
    	<li><a href="http://www.ibiodesign.net/ecoin/" target="_blank" title="ecoin" style="text-decoration:none;">EcoIN</a></li>
		<li><span onclick="window.open('{% url 'search4enzymetib' %}', '_blank');" title="test">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
	</ul>
</div>
 
